.thegrid {
    margin: 0 auto;
  }
  
  .elements-distance {
    margin: 0px;
  }
  
  .mr-grid {
    width: 100%;
  }
  .mr-grid:before,
  .mr-grid:after {
    content: "";
    display: table;
  }
  .mr-grid:after {
    clear: both;
  }
  .mr-grid {
    *zoom: 1;
  }
  
  .col1,
  .col2,
  .col3,
  .col3rest,
  .col4,
  .col4rest,
  .col5,
  .col5rest,
  .col6,
  .col6rest {
    margin: 0% 0.5% 0.5% 0.5%;
    padding: 1%;
    float: left;
    display: block;
  }
  
  /* Columns match, minus margin sum. E.G. margin-left+margin-right=1%, col2=50%-1% - added padding:1%*/
  
  .col1 {
    width: 98%;
  }
  .col2 {
    width: 47%;
  }
  .col3 {
    width: 30.3333333333%;
  }
  .col4 {
    width: 22%;
  }
  .col5 {
    width: 17%;
  }
  .col6 {
    width: 13.6666666667%;
  }
  
  /* Columns match with their individual number. E.G. col3+col3rest=full width row */
  
  .col3rest {
    width: 63.6666666667%;
  }
  .col4rest {
    width: 72%;
  }
  .col5rest {
    width: 77%;
  }
  .col6rest {
    width: 80.3333333333%;
  }
  