$accent-color: #e7e7e7;
$brand-color: #fe4141;
$dark-color: #1e1b26;

$black: black;

$white: white;

$blue-anchor: #5c7fb8;

$movie-card-text: #a9a8a3;
$container-bg: #f0f0ed;
$title-text: #c7c1ba;
$desc-text: #b1b0ac;
$tag-hover: #ddd;

$opacity-black-1: rgba(0, 0, 0, 0.5);
$opacity-black-2: rgba(0, 0, 0, 1);
$opacity-black-3: rgba(0, 0, 0, 0.6);
$opacity-black-4: rgba(255, 255, 255, 0);
$opacity-black-5: rgba(255, 255, 255, 0.06);
$opacity-black-6: rgba(30, 27, 38, 0.88);
$opacity-black-7: rgba(30, 27, 38, 1);
$opacity-black-8: rgba(50, 50, 93, 0.25);
$opacity-black-9: rgba(0, 0, 0, 0.3);
